

<!-- here i am creating simple form to send to the server with the edit information with angular validation  -->
<p-growl></p-growl>


<div class="container" *ngIf="tenant" style="margin-top:20px;   font-family: 'Quicksand', sans-serif;" >

  <a class="previous"  [routerLink]="['/tenants']">&laquo; Previous</a>



      <h1 style="text-align:center">Edit {{tenant.name}}</h1>


    <div class="row" >

        <div class="col-8 ">

        <div class="form_main">
                    <div class="form">
                    <form  id="contactFrm" name="contactFrm" #f="ngForm" class="form-group" style="text-align:center">
                        <label for="">Name</label>
                        <input type="text" ngModel #name=ngModel  placeholder={{tenant.name}} value='' name="name" class="txt form-control" required>
                        <p-message *ngIf="!name.valid && name.touched" severity="error" text="Please Enter a name"></p-message><br>


                        <label for="">Address</label>
                        <input type="text" ngModel #address=ngModel placeholder={{tenant.address}} value='' name="address" class="txt form-control" required>
                        <p-message *ngIf="!address.valid && address.touched" severity="error" text="Please Enter a address"></p-message><br>

                        <label for="">Phone Number</label>
                        <input type="number" ngModel #phone=ngModel  placeholder={{tenant.phone}} value='' min="0" name="phone" class="txt form-control" minlength="10" required><br>
                        <p-message *ngIf="!phone.valid && phone.touched" severity="error" text="please enter a valid Phone Number"></p-message><br>


                        <label for="">Debt</label>
                        <input type="number" ngModel #debt=ngModel placeholder={{tenant.debt}} value='' min="0" name="debt" class="txt form-control"  required><br>
                        <p-message *ngIf="!debt.valid && debt.touched" severity="error" text="please enter a debt amount Ener 0 if you dont have any debt" ></p-message><br>

                         <button [disabled]="!f.valid" type="button" value="submit" name="submit" class="txt2" (click)="confirmChange(tenant._id, f)" class="btn btn-primary" >confirmChange</button>
                    </form>
                </div>
                </div>
              </div>
            </div>
</div>


