        <!-- this p-dialog is a Material Design Component from PrimeNG to create a dialog -->

            <p-dialog header="Delete Tenant" [(visible)]="display">
                   <p> Are you sure you want to delete {{tenant.name}} ?</p>
                   <button type="text" (click)="delete(tenant._id)" class="btn btn-sm btn-danger" label="Show" style="margin-right:10px;">Yes</button>
                    <button type="text" (click)="display = false" class="btn btn-sm btn-success" label="Show" >No</button>
                </p-dialog>

              <!-- here i finish createing a table of all the tenants and add a router link to the edit tenants page -->


        <div class="row margin-0">
            <div class="col-md-3">
                <div class="cell">
                    <div class="propertyname">
                        {{tenant.name}}
                       
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="cell">
                    <div class="type">
                      {{tenant.address}}

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cell">
                    <div class="isrequired">

                      {{tenant.phone}}

                    </div>
                </div>
            </div>
            <div class="col-md-5">
              
                <div class="cell">
                    <div class="description">
                      {{tenant.debt > 0 ? tenant.debt : 'No Debt'}}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                    <div class="cell">
                        <div class="propertyname">
                          <a class="btn btn-sm btn-primary"  [routerLink]="['/tenant', tenant._id]" style="margin-right:10px;">Edit</a>
                          <button type="text" (click)="showDialog()" class="btn btn-sm btn-danger" label="Show">Delete</button>
                        </div>
                    </div>
                </div>
        </div>