        <!-- this p-dialog is a Material Design Component from PrimeNG to create a dialog -->

            <p-dialog header="Delete Tenant" [(visible)]="display" >
                   <p > Are you sure you want to delete {{tenant.name}} ?</p>
                   <button  type="text" (click)="delete(tenant._id)" class="btn btn-sm btn-danger" label="Show" style="margin: 10px 10px 0px 70px;">Yes</button>
                    <button type="text" (click)="display = false" class="btn btn-sm btn-success" label="Show" style="margin-top:10px;">No</button>
                </p-dialog>

              <!-- here i finish createing a table of all the tenants and add a router link to the edit tenants page -->

 <div class="row" style="font-family: 'Quicksand', sans-serif;">
            <div class="col-md-3">
                <div class="cell">
                    <div class="propertyname">
                        {{tenant.name}}
                       
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="cell">
                    <div class="type">
                      {{tenant.address}}

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cell">
                    <div class="isrequired">

                      {{tenant.phone}}

                    </div>
                </div>
            </div>
            <div class="col-md-3">
              
                <div class="cell">
                    <div class="description">
                      {{tenant.debt > 0 ? tenant.debt : 'No Debt'}}
                    </div>
                </div>
            </div>
            <div class="col-md-2" >
                    <div class="cell">
                        <div class="propertyname">
                          <a class="btn icon-btn btn-primary" [routerLink]="['/tenant', tenant._id]"><span class="glyphicon btn-glyphicon glyphicon glyphicon-cog img-circle text-primary"></span>Edit</a>
                          <a class="btn icon-btn btn-danger" (click)="showDialog()" ><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>Delete</a>
                        </div>
                    </div>
                </div>
        </div>



          
    
